<% if items %>
  <div class="item-row">
    <% items.each do |item| %>
      <div class="item">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <%= link_to image_tag(item.jacket_url), item.item_url , class: 'img' %>
              <p class="item-content text-center"><%= item.title %></p>
              <p class="item-content text-center"><%= item.artist %></p>
              <div class="buttons text-center">
                <%= render "ownerships/want_button", item: item  %>
                <%= render "ownerships/have_button", item: item  %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>